#contact-us {
  .contact-form {
    padding: 80px 20px;
    background-image: url(../images/contact-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    #contact {
      background-color: $white;
      padding: 40px;
      border-radius: 5px;
      input,
      textarea {
        color: #7a7a7a;
        font-size: 13px;
        border: 1px solid #ddd;
        background-color: $white;
        width: 100%;
        outline: none;
        line-height: 40px;
        padding: 0px 10px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin-bottom: 20px;
      }
      button {
          display: inline-block;
          font-size: 13px;
          padding: 11px 17px;
          background-color: $theme-color;
          color: $white;
          text-align: center;
          font-weight: 400;
          text-transform: uppercase;
          transition: all 0.3s;
          border: none;
          outline: none;
          margin-top: -8px;
      }
    }
  }
}
