#our-classes-one{
    padding: 60px 0;
    overflow: hidden;
    .gym-content{
        h4{
            font-size: 23px;
            font-weight: 700;
            color: #232d39;
            letter-spacing: 0.5px;
            margin-bottom: 20px;
        }
        p{
            font-size: 14px;
            color: #7a7a7a;
            margin-bottom: 28px;
            
        }
    }
}