#trainers{
    padding: 60px 0;
    overflow: hidden;
    .trainer-item {
        background-color: $white;
        border-radius: 5px;
        box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
        padding: 40px;
        img {
            width: 100%;
            border-radius: 5px;
        }
    }
    .down-content{
        span {
            font-size: 13px;
            font-weight: 500;
            color: $theme-color;
            display: inline-block;
            margin-top: 25px;
            margin-bottom: 10px;
        }
        h4 {
            font-size: 19px;
            font-weight: 600;
            color: #232d39;
            letter-spacing: 0.5px;
            margin-bottom: 18px;
        }
        p {
            margin-bottom: 20px;
            font-size: 14px;
            line-height: 25px;
            color: #7a7a7a;
        }
        ul{
            margin-bottom: 0;
            li{
                display: inline-block;
                margin-right: 12px;
                a {
                    color: #232d39;
                    transition: all .3s;
                }
            }
        }
    }
}