<footer class="mt-4 mb-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 m-auto col-md">
                <p class="text-center">Copyright © 2020 Training Studio - Designed by</p>
            </div>
        </div>
    </div>
</footer>
